

body { 
    padding-top: 50px; 
    height: 100%;
}

#header-custom {
    height: 50px
}

html {
    height: 100%;
    min-height: 100%;
}

#bkg-custom {
    background: #777777;
    height: 100%;
    padding-top: 15px;
    overflow:auto;
}

.panel-default {
    max-height: 100%;
    max-width: 100%;
    padding: 5px;
}

.page-header {
    height: 90px;
}

.panel-default {
    height: 500px; 
}

.thumbnail {
    margin: auto;
    max-height: 225px;
    max-width: 90%;
}

.caption {
    padding: 5px;
}

#button-custom {
    margin-left: 10px;;
    
}

h3, h4 {
    text-align: center;
    margin-top: 5px;
    max-width: 100%;
    max-height: 100%;
}

.linkDiv {
    margin: auto;
}

p, a {
    text-align: center;
    font-size: 20px;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    margin: 10px 0px 2px 0px;
}

.thumbnail {
    z-index: 100;
}

#btn-input {
    border: 5px solid rgba(127, 166, 211, 0.671);
    border-radius: 5px;
}

.page-header {
    background: #969696;
    margin-top: 0px;
    padding: 30px;
    border: 5px solid white;
    border-radius: 10px;
    height: 100px;
}

.col-sm-6 {
    max-width: 100%;
}
/* #img-row {
    padding: 0;
    margin-left: -20px;
    margin-right: -20px;
} */